:root{
    --app_width  : 600px;
    --app_height : 400px;
    --app_margin : auto;

    --video_width : 100%;
    --video_height: 100%;

    --progressBar_width : var(--video_width) ;
    --progressBar_color : #eee ;

    --bufferBar_width : var(--video_width) ;
}
#app{
    width: var(--app_width);
	margin: var(--app_margin);
}
.svpVideo.video{
    width: var(--video_width);
    height: var(--video_height);
}
.svpControls{
    &.svpProgressBar.progressBar{
        width: var(--progressBar_width);
        background-color: var(--progressBar_color);
    }
    &.svpBufferBar.bufferBar{
        width: var(--bufferBar_width);
    }
}

