
/* css of your app here */
:root{
	--bg_color : blue;
}
#section_my_app{
	background-color: var(--bg_color);
}

@keyframes animationExample {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
 
.animateThis {
    animation: animationExample 10s;
    display: flex;
    background-color: red;
}

/* VISUALS */
 
.column_one, .column_two {
    border: 0.0625rem solid #ccc;
}
 
.column_two {
    border-left: 0;
}
 
body {
    .column_one, .column_two {
        border: 0.0625rem solid #ccc;
    }
 
    .column_two {
        border-top: 0;
    }
}
