
/* css of your app here */
#section_my_app{
	background-color: blue;
}

@-webkit-keyframes animationExample {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes animationExample {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
 
.animateThis {
    -webkit-animation: animationExample 10s;
            animation: animationExample 10s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: red;
}

/* VISUALS */
 
.column_one, .column_two {
    border: 0.0625rem solid #ccc;
}
 
.column_two {
    border-left: 0;
}
 
body .column_one, body .column_two {
	border: 0.0625rem solid #ccc;
}
 
body .column_two {
	border-top: 0;
}
